/* https://codepen.io/thetallweeks/pen/yybGra */
.ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.wrapper {
    max-width: 350px;

    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size */
    height: calc((var(--vh, 1vh) * 100) - (40px + (.5rem * 2)));
}
