<div class="wrapper d-flex flex-column justify-content-center mx-auto px-2">
    <form [formGroup]="form" (ngSubmit)="registrate($event)">
        <input
            formControlName="email"
            type="email"
            name="email"
            placeholder="email"
            required
            maxlength="255"
            [autofocus]="!form.get('email').value"
            class="form-control my-1"
            [class.is-valid]="form.controls['email'].valid"
            [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].dirty"
        >
        <div class="invalid-feedback d-none" [class.d-block]="form.controls['email'].invalid && form.controls['email'].dirty">
            Email must contain name and domain divided by @, and not be longer than 255 characters. And, of course, must be free.
        </div>
        <div class="invalid-feedback d-none" [class.d-block]="error">
            {{ error }}
        </div>

        <input
            formControlName="name"
            type="text" name="name"
            placeholder="name"
            required
            minlength="1"
            maxlength="255"
            [autofocus]="!!form.get('email').value"
            class="form-control my-1"
            [class.is-valid]="form.controls['name'].valid"
            [class.is-invalid]="form.controls['name'].invalid && form.controls['name'].dirty"
        >
        <div class="invalid-feedback d-none" [class.d-block]="form.controls['name'].invalid && form.controls['name'].dirty">
            Name must contain at least 1 character and not be longer than 255 characters.
        </div>

        <input
            formControlName="password"
            type="password"
            name="password"
            placeholder="password"
            required
            minlength="6"
            class="form-control my-1"
            [class.is-valid]="form.controls['password'].valid"
            [class.is-invalid]="form.controls['password'].invalid && form.controls['password'].dirty"
        >
        <div class="invalid-feedback d-none" [class.d-block]="form.controls['password'].invalid && form.controls['password'].dirty">
            Password must be at least 6 characters long.
        </div>

        <input
            formControlName="retryPassword"
            type="password"
            name="retryPassword"
            placeholder="retry password"
            required
            minlength="6"
            class="form-control my-1"
            [class.is-valid]="form.controls['retryPassword'].valid && form.controls['retryPassword'].dirty"
            [class.is-invalid]="form.controls['retryPassword'].invalid && form.controls['retryPassword'].dirty"
        >
        <div class="invalid-feedback d-none" [class.d-block]="form.controls['retryPassword'].invalid && form.controls['password'].dirty">
            Passwords do not match.
        </div>

        <div *ngIf="environments.production" gRecaptcha [key]="environments.recaptcha_sitekey" formControlName="recaptcha" class="my-2"></div>

        <button type="submit" name="registrate" [disabled]="!form.valid" class="btn btn-outline-primary btn-block">
            <span *ngIf="!pending">Registrate</span>
            <span *ngIf="pending"><span class="spinner-border spinner-border-sm mx-1" role="status" aria-hidden="true"></span>&#160;<span class="ellipsis">Generating keys</span></span>
        </button>
    </form>
</div>
