<form [formGroup]="form" #messageForm="ngForm" (ngSubmit)="onSubmit($event)" class="d-flex flex-row flex-nowrap align-items-center d-xl-block mx-3 my-2 mx-xl-5 clearfix">
  <!-- Show <textarea> for a large displays otherwise show <input> -->
  <textarea
    formControlName="message"
    name="message"
    (keydown)="onEnter($event)"
    (input)="onWriting(form.get('message').value)"
    class="d-none d-xl-block form-control"
    required
    autofocus
  >
  </textarea>

  <input
    formControlName="message"
    type="text"
    name="message"
    (keydown)="onEnter($event)"
    (input)="onWriting(form.get('message').value)"
    class="d-xl-none form-control form-control-sm"
    required
    autofocus
  >

  <!-- Show large button with a text for a large displays otherwise show small button with only glyphicon -->
  <button
    type="submit"
    name="send"
    [disabled]="!form.valid || !from || !to"
    class="d-none d-xl-inline-block btn btn-outline-primary float-right mt-1"
  >
      Send <span class="glyphicon glyphicon-send"></span>
  </button>

  <button
    type="submit"
    name="send"
    [disabled]="!form.valid || !from || !to "
    class="d-xl-none btn btn-outline-primary btn-sm mx-1"
  >
    <span class="glyphicon glyphicon-send"></span>
  </button>

  {{ error }}
</form>
