form {
    border-bottom: 1px solid rgba(0,0,0,.05);
}

ul {
    margin: 0;
    padding: 0;

    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size - search form size */
    height: calc(100vh - (40px + (.5rem * 2)) - (31px + (.5rem * 2) + 1px));
}

.spinner {
    font-size: 13px;
}

.spinner > .spinner-border {
    width: 1.7rem;
    height: 1.7rem;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: rgba(236, 236, 236, .77);
}

li > a {
    padding: 0;
    text-decoration: none;
    /*color: inherit;*/
}

@media (min-width: 1200px) {
    ul {
        /* @TODO: Refator this calculation with sass variables; */
        /* screen size - header size - search form size - dialogs padding - dialogs bottom margin */
        height: calc(100vh - (40px + (.5rem * 2)) - (38px + (.5rem * 2) + 1px) - (.5rem * 2)  - .5rem);
    }
}
