.name {
    font-size: .875rem;
}

.status {
    font-size: .777rem;
}

/* https://codepen.io/thetallweeks/pen/yybGra */
.ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

mat-menu {
  display: none;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size - dialog header size - form size */
    height: calc(100vh - (40px + (.5rem * 2)) - (39px) - (29.500px + (.5rem * 2)));

    background-color: white;
}

.isMessagesLoading {
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: 0;
    margin: 0;
    padding: 0;
}

.spinner {
    font-size: 13px;
}

.spinner > .spinner-border {
    width: 1.7rem;
    height: 1.7rem;
}

.message {
    list-style-type: none;
}

.author > a {
    padding: 0;
}

.date {
    font-size: 13px;
    color: grey;
}

.content {
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 13px;
}

.message-form textarea {
    resize: none;
}

.message-form textarea, .message-form button[type="submit"] {
    font-size: 13px;
}

.message-form textarea.form-control {
    vertical-align: bottom;
    overflow: hidden;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.message-form textarea.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

.message-form button.btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}

@media (min-width: 1200px) {
    .conversation header {
      border-radius: 0.25rem !important;
    }

    .name {
        font-size: 1rem;
    }

    .messages {
        /* @TODO: Refator this calculation with sass variables; */
        /* screen size - header size - dialog header size - form size */
        height: calc(100vh - (40px + (.5rem * 2)) - (42px + (.5rem * 2)) - (94px + (.5rem * 2)));
    }

    .message-form textarea.form-control {
        vertical-align: baseline;
        overflow: auto;
        height: auto;
        padding: .375rem .75rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
    
    .message-form button.btn {
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}
