<div class="container-fluid">
    <div class="conversation">
        <header class="d-flex justify-content-between align-items-center shadow p-xl-2 bg-white rounded">
            <a [routerLink]="['/']" class="btn btn-light btn-sm" role="button">< Back</a>

            <div class="name d-flex flex-column align-items-center align-self-center"><span>{{ conference?.participant.name }}</span><span class="online">last seen recently</span></div>

            <a class="btn btn-light btn-sm" role="button">Profile ></a>
        </header>

        <div
            class="messages"
        >
            <ul 
                #scroller
                infiniteScroll
                [infiniteScrollUpDistance]="3.3"
                [infiniteScrollThrottle]="666"
                (scrolledUp)="onScrollUp(messages[0].date)"
                [scrollWindow]="false"

                class="wrapper overflow-auto"
            >
                <li *ngFor="let message of messages" class="message media mx-3 pb-2 mx-xl-5 pb-xl-3">
                    <div class="media-body">
                        <div class="title clearfix">
                            <span class="author float-left font-weight-bold font-italic"><a>{{ message.author.name }}</a></span>
                            <span class="date float-right"><a>{{ message.date * 1000 | date:'short' }}</a></span>
                        </div>

                        <div class="content">
                            {{ message.content }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <app-message-form [to]="conference?.participant.uuid" (sent)=onSent($event)></app-message-form>
</div>