<nav class="navbar navbar-light">
  <a routerLink="/" class="navbar-brand">{{ title }}</a>

  <ul class="navbar-nav flex-row mr-auto">
    <li *ngIf="!authService.user" class="nav-item"><a routerLink="/login" class="nav-link p-2">Login</a></li>
    <li *ngIf="!authService.user" class="nav-item"><a routerLink="/registration" class="nav-link p-2">Registration</a></li>
  </ul>

  <a *ngIf="authService.user" [routerLink]="['/settings']" role="button" class="btn btn-sm btn-outline-dark mx-1"><i class="glyphicon glyphicon-cog"></i></a>
  <app-logout *ngIf="authService.user"></app-logout>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>
