.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 1140px;
    }
}