.dialogs {
    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size */
    height: calc((var(--vh, 1vh) * 100) - (40px + (.5rem * 2)));
}

.dialogs ul {
    margin: 0;
    padding: 0;

    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size - search form size */
    height: calc((var(--vh, 1vh) * 100) - (40px + (.5rem * 2)) - (31px + (.5rem * 2) + 1px));
}

.dialog {
    list-style-type: none;
    height: 66px;
}

.dialog:hover {
    background-color: rgba(236, 236, 236, .77);
}

.spinner {
    font-size: 13px;
}

.spinner > .spinner-border {
    width: 1.7rem;
    height: 1.7rem;
}

.dialog > a {
    padding: 0;
    text-decoration: none;
    /*color: inherit;*/
}

/*.name {
    font-weight: bold;
    font-style: italic;
}*/

.date {
    font-size: 13px;
    color: grey;
}

.content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    color: grey;
}

@media (min-width: 1200px) {
    .dialogs {
        /* @TODO: Refator this calculation with sass variables; */
        /* screen size - header size - search form size - dialogs bottom margin */
        height: calc((var(--vh, 1vh) * 100) - (40px + (.5rem * 2)) - .5rem);

        border-radius: 0.25rem !important;
    }

    .dialogs ul {
        /* @TODO: Refator this calculation with sass variables; */
        /* screen size - header size - search form size - dialogs padding - dialogs bottom margin */
        height: calc(100vh - (40px + (.5rem * 2)) - (38px + (.5rem * 2) + 1px) - (.5rem * 2)  - .5rem);
    }

    .dialog {
        border-radius: 0.25rem !important;
    }
}
