<div class="conversation">
    <header class="d-flex position-relative justify-content-between align-items-center shadow p-xl-2 bg-white">
        <a [routerLink]="['/']" class="btn btn-light btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>

        <div class="name d-flex flex-column align-items-center align-self-center">
            <span *ngIf="!isParticipantLoading">{{ participant?.name }}</span>
            <span *ngIf="isParticipantLoading"><div class="spinner-border spinner-border-sm text-primary" role="status"></div></span>
            <span *ngIf="!writing" class="status text-secondary">last seen recently</span>
            <span *ngIf="writing" class="status writing text-primary">writing</span>
        </div>

        <a class="btn btn-light btn-sm" role="button"><span class="glyphicon glyphicon-option-vertical"></span></a>
    </header>

    <div
        class="messages"

        [class.isMessagesLoading]="isMessagesLoading"
    >
        <div *ngIf="isMessagesLoading" class="spinner">
          <div class="spinner-border text-primary" role="status"></div>
        </div>

        <ul
            #scroller
            infiniteScroll
            [infiniteScrollThrottle]="1000 / 3 * 2"
            [infiniteScrollUpDistance]="3.3"
            (scrolledUp)="onScrollUp(this.messages[0].date)"
            [infiniteScrollDistance]="3.3"
            (scrolled)="onScrollDown(this.messages[this.messages.length - 1].date)"
            [scrollWindow]="false"

            (scroll)="onScroll($event)"

            class="wrapper overflow-auto"
        >
            <div *ngIf="isOldMessagesLoading" class="spinner text-center pt-2">
              <div class="spinner-border text-primary" role="status"></div>
            </div>

            <li
                *ngFor="let message of messages"

                #messagesList

                [attr.data-uuid]="message.uuid"

                class="message media mx-3 pb-2 mx-xl-5 pb-xl-3"
            >
                <div class="media-body">
                    <div class="title clearfix">
                        <span class="author float-left font-weight-bold font-italic"><a>{{ message.author.name }}</a></span>
                        <span class="date float-right">
                          <i *ngIf="message.author.uuid == authService.user.uuid && !message.readed" class="material-icons px-1">done</i>
                          <i *ngIf="message.author.uuid == authService.user.uuid && message.readed" class="material-icons px-1">done_all</i>
                          <a>{{ message.date * 1000 | date:'short' }}</a>
                        </span>
                    </div>

                    <div class="content">{{ message.content }}</div>
                </div>
            </li>

            <div *ngIf="isNewMessagesLoading" class="spinner text-center">
              <div class="spinner-border text-primary" role="status"></div>
            </div>
        </ul>
    </div>

    <form [formGroup]="form" #messageForm="ngForm" (ngSubmit)="onSubmit($event)" class="message-form d-flex flex-row flex-nowrap align-items-center d-xl-block mx-2 my-2 mx-xl-5 clearfix">
      <textarea
        formControlName="message"
        name="message"
        (keydown)="onEnter($event)"
        (input)="onWriting(form.get('message').value)"
        class="form-control"
        required
        autofocus
      >
      </textarea>

      <button
        type="submit"
        name="send"
        [disabled]="!form.valid || !participant"
        class="btn btn-outline-primary float-xl-right mt-xl-1 mx-xl-0 mx-1"
      >
        <span class="d-none d-xl-inline mr-1">Send</span>
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </form>
</div>
