.name {
    font-size: .875rem;
}

.status {
    font-size: .777rem;
}

/* https://codepen.io/thetallweeks/pen/yybGra */
.writing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* @TODO: Refator this calculation with sass variables; */
    /* screen size - header size - dialog header size - form size */
    height: calc(100vh - (40px + (.5rem * 2)) - (39px) - (29.500px + (.5rem * 2)));

    background-color: white;
}

.isMessagesLoading {
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: 0;
    margin: 0;
    padding: 0;
}

.spinner {
    font-size: 13px;
}

.spinner > .spinner-border {
    width: 1.7rem;
    height: 1.7rem;
}

.message {
    list-style-type: none;
}

.author > a {
    padding: 0;
}

.date {
    font-size: 13px;
    color: grey;
}

.content {
    font-size: 13px;
}

@media (min-width: 1200px) {
    .name {
        font-size: 1rem;
    }

    .messages {
        /* @TODO: Refator this calculation with sass variables; */
        /* screen size - header size - dialog header size - form size */
        height: calc(100vh - (40px + (.5rem * 2)) - (42px + (.5rem * 2)) - (94px + (.5rem * 2)));
    }
}