<div class="wrapper d-flex flex-column justify-content-center mx-2 mx-sm-auto">
    <form [formGroup]="form" (ngSubmit)="next($event)" class="form-inline flex-nowrap">
        <input
            formControlName="email"
            type="email"
            name="email"
            placeholder="email"
            required
            maxlength="255"
            autofocus
            class="form-control"
            [class.is-valid]="form.controls['email'].valid && form.controls['email'].dirty"
            [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].dirty"
        >

        <button type="submit" name="next" [disabled]="!form.valid" class="btn btn-outline-primary mx-1">
            <span>Next</span>
            <span *ngIf="pending" class="spinner-border spinner-border-sm mx-1" role="status" aria-hidden="true"></span>
        </button>  {{ error }}
    </form>
</div>